*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/
data
orchestrator/runs/
submodules/
*.zip
omniverse_out*
viseron/config/postgresql/
viseron/segments/
viseron/snapshots/
viseron/thumbnails/
runs/
